<section class="row col-sm-10 col-lg-8 col-xs-12 col-sm-offset-1 col-lg-offset-2 upload-div">
	<div class="panel panel-default">
		<div class="panel-heading flex-heading">
			<img class="col-xs-2 img-responsive animated fadeIn" src="img/cloud-computing.svg" alt="Logo Image">
			<b><h3>Wistia Upload Angular Component</h3></b>

		</div>
		<div class="panel-body">
			<h4>Upload your videos to Wistia!</h4>
			<blueimp-upload-wistia></blueimp-upload-wistia>
		</div>
		<footer class="panel-footer">Made with <img class="red-heart animated pulse infinite" src="img/like.svg" alt='Heart'> by <a href="https://github.com/marciogurka">Márcio José Gurka Júnior</a> </footer>
	</div>
</section>
